<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="tests/bootstrap.php"
    colors="true"
    testdox="true"
    stopOnError="false"
    stopOnFailure="false"
>
    <testsuites>
        <testsuite name="ServerTrack">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory>includes</directory>
            <directory>sources</directory>
        </include>
    </coverage>
</phpunit>
